.btn-primary {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--color-black);
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background: var(--color-blue);
  cursor: pointer;
  @apply transition duration-300 ease-in-out;

  &:hover {
    background: var(--color-green);
    transition: 0.3s;
    position: relative;
  }
}

a.underline,
.underline a {
  text-decoration: underline;
}

p, li  {
  margin-bottom: 0.5rem !important;
  @media (min-width: theme("screens.md")) {
    margin-bottom: 1rem !important;
  }
}
