/* If you don't want to use the JS in CSS syntax from `tailwind.config.site.js` you can add your own custom CSS here. Use different layers to make sure your CSS either get's purged or not: https://tailwindcss.com/docs/functions-and-directives#layer. CSS in the base layer won't get purged. */

body {
  word-break: keep-all;
  overflow-wrap: normal;
}
h1, .h1 {
    @apply text-2xl md:text-6xl;
    @apply font-bold;
    @apply leading-tight;
    @apply tracking-normal;
    @apply mb-4 md:mb-10;
}
h1:last-of-type ,
.h1:last-of-type {
    @apply mb-0;
}
h2, .h2 {
    @apply text-2xl md:text-3xl lg:text-4xl;
    @apply font-bold;
    @apply leading-tight;
    @apply tracking-normal;
    @apply mb-4 md:mb-10;
}
h2:last-of-type,
.h2:last-of-type {
    @apply mb-0;
}
h3, .h3 {
    @apply text-2xl md:text-3xl;
    @apply font-bold;
    @apply leading-tight;
    @apply tracking-tight;
    @apply mb-2 md:mb-6;
}
h3:last-of-type,
.h3:last-of-type {
    @apply mb-0;
}
h4, .h4 {
    @apply text-base md:text-2xl;
    @apply font-normal;
    @apply leading-tight;
    @apply tracking-tight;
    @apply mb-2 md:mb-6;
}
h4:last-of-type,
.h4:last-of-type {
    @apply mb-0;
}
h5, .h5 {
    @apply text-base;
    @apply font-bold;
    @apply leading-tight;
    @apply tracking-normal;
    @apply mb-2 md:mb-6;
}
h5:last-of-type,
.h5:last-of-type {
    @apply mb-0;
}
p {
    @apply mb-2 md:mb-4;
}
p:last-of-type {
    @apply mb-0;
}
.no-underline > * {
    text-decoration: none;
}

/*
* Wordpress default
*/
:root :where(.wp-element-button, .wp-block-button__link) {
  background-color: transparent;
}
.editor-visual-editor .editor-styles-wrapper :where(.wp-element-button, .editor-styles-wrapper .wp-block-button__link) {
  background-color: transparent;
}

:root :where(.wp-block-columns.is-layout-flex) {
  gap: 0.5em;
}
@media screen and (min-width: 1024px) {
  :root :where(.wp-block-columns.is-layout-flex) {
    gap: 2em;
  }
}

/*
* Load effect
*/
.container.page-content > *:not(.noloadeffect),
article.container .p-article__content > *:not(.noloadeffect),
article.project .e-content > *:not(.noloadeffect) {
  opacity: 0;
  transform:translateY(70px);
  transition: all ease 0.5s;
}
.container.page-content > *.scroll-loaded,
article.container .p-article__content > *.scroll-loaded,
article.project .e-content > *.scroll-loaded {
  opacity: 1;
  transform:none;
}

